[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-q = "*"
django-chartjs = "*"
chat-replay-downloader = {editable = true, ref = "package", git = "https://github.com/xenova/chat-replay-downloader"}
isodate = "*"
channels = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
django-environ = "*"
psycopg2 = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
