<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>huge</title>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
</head>

<body>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
        var chart = new Chart('chart', {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: '# of comments',
                        data: [{
                            t: new Date("2013-02-08 09:29:26"),
                            y: 50
                        }, {
                            t: new Date("2013-02-08 09:30:26"),
                            y: 100
                        }],
                    },
                    {
                        label: '# of x comment comments',
                        data: [{
                            t: new Date("2013-02-08 09:29:26"),
                            y: 20
                        }, {
                            t: new Date("2013-02-08 09:30:26"),
                            y: 80
                        }]
                    },
                ]},
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: "huge big wow"
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'minute'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "value"
                        }
                    }]
                }
            }
        })
    </script>
</body>
</html>
