{% load static %}
<html>
    <head>
        <title>django-chartjs line chart demo</title>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7/dist/chartjs-plugin-zoom.min.js" integrity="sha256-6S7w9Wue7EBvlJh/Li/cPecjTNN+yBm/AoCePQA9Xi8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js" integrity="sha256-eVNjHw5UeU0jUqPPpZHAkU1z4U+QFBBY488WvueTm88=" crossorigin="anonymous"></script>
    <style>
        select {
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    </head>
    <body>
        <div id="controls">
            <input id="fetch_ytid"></input>
            <button id="fetch_new">fetch</button>
            <select id="ytid"></select>
            <input id="ignore_prestream" type="checkbox">ignore prestream comments</input>
            <button id="get_the_goods">go</button>
            <div>
                <button id="add_template">add keyword</button>
                <button id="remove_template">remove keyword</button>
                <span id="kw_container"></span>
            </div>
        </div>
        <div id="charts">
            <canvas id="myChart" width="800" height="600"></canvas>
        </div>
        <script type="text/javascript">
            var mychart;
            var streams = {};
            function load_streams() {
                var dropdown = $("select#ytid");
                $.getJSON("/streams", function(data) {
                    //dropdown.children().remove();
                    $.each(data, function(k, v) {
                        var option = $("<option></option>");
                        option.html(v["fields"]["title"]);
                        option.attr("value", v["pk"]);
                        dropdown.append(option);
                    });
                });
            }
            $("#get_the_goods").on("click", function(event) {
                event.preventDefault();
                var keywords = [];
                $.each($(".keywords"), function(k, v) {
                    keywords.push(v.value);
                })
                $.get('/cinfo/' + $("#ytid").val() + ".json", {"keywords": keywords, ignoreprestream: $("#ignore_prestream").is(":checked")}, function(resp) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    if(mychart) {
                        mychart.destroy();
                    }
                    mychart = new Chart(ctx, {
                        type: 'line', data: resp.data, options: resp.options
                    });
                });
            })
            $("#add_template").on("click", function(event) {
                event.preventDefault();
                $("#kw_container").append('<input class="keywords">');
            })
            $("#remove_template").on("click", function(event) {
                event.preventDefault();
                $("#kw_container").children().last().remove();
            })
            $("#fetch_new").on("click", function(event) {
                event.preventDefault();
                fetch_ytid = $("#fetch_ytid").val();
                var proto = location.protocol !== 'https:' ? "ws://" : "wss://";
                var sock = new WebSocket(proto + window.location.host + '/ws/fetch/' + fetch_ytid + '/');
                sock.onmessage = function(m) {
                    console.log(m)
                    //if(msg == "done") {
                    //    $("#fetch_new").html("fetched!");
                    //}
                };
                sock.onopen = function(m) {
                    sock.send("gettem");
                };
                $("#fetch_new").html("fetching...");
            })
            $(document).ready(load_streams);
        </script>
    </body>
</html>
